VITE_KEYCLOAK_URL=https://your-keycloak-host/auth/
VITE_KEYCLOAK_REALM=your-realm
VITE_KEYCLOAK_CLIENT_ID=your-dashboard-client-id

DRUID_URL=https://your-druid-host/druid/v2/
DRUID_AUTHORIZATION=Basic your_druid_basic_auth_username:your_druid_basic_auth_password
